@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 62.5%;
}
/* #**************************************  UTILITY CLASSES  ##########################***************** */
.container{
    max-width:1000px;
    width:90%;
    margin:0 auto;
}
.lg-heading{
    font-size:3.5rem;
}
.md-heading{
    font-size:2.2rem;
}
.text-red{
color: #f23041;
}
.text-gray{
color: #a39899;
}
.text-light{
color: #edddde;
}
.text-black{
color: #524344;
}
.back-color{
    background-color: #edddde;
}
.bg-dark{
    background-color: #524344;
}
.btn{
    font-weight: 500;
    padding:0.5em,1.5em;
    text-transform: uppercase;
    display:inline-block;
    margin:0.5em,0;
}
.primary-btn{
    background-color: #efff;
    border-radius: 2rem;
    padding:0.7rem;
    font-size: 2rem;
    text-align: center;
     font-weight: 500;
    padding:0.5em,1.5em;
    text-transform: uppercase;
    display:inline-block;
    margin:0.5em,0;
}
.first-btn{
    /* border:0.1rem solid white; */
    text-align: center;
}


.primary-btn:hover{
    background: #ddd;
}

/* ################# Header Section #################################### */
.bg{
    background-color: #a39899;
}
ul li{
    font-size:1.6rem;
    text-decoration: none;
}
a{
    text-decoration: none;
}

h1{
    font-size:1.6rem;
}
p{
    font-size:1.6rem;
}

p{
    margin-bottom: 0.3rem;
}
h1 h2 h3{
    margin-bottom: 0.5rem;
    letter-spacing:0.5rem ;
    font-weight: 500;
}
/* *************************************NAVIGATION BAR ************************* */
.header{
    height:98vh;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url('header-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 .navbar h1{
    /* padding-right: 15rem; */
    color: white;
    float: left;
    padding-top: 2rem;
    text-transform: uppercase;
    font-weight: 500;
}
 .navbar .list-items{
    float: right;
    /* padding-left: 10rem; */
    padding-top: 2rem;
}
.navbar .list-items .list-item{
     padding-top: 1rem; 
    display: inline-block;
    padding:1rem;
    letter-spacing:0.2rem;
    color: white;
}

.list-item a:hover{
    border-bottom: 0.1rem solid gray; 
    padding-bottom: 0.3rem;
}
 .navbar a:link,
.navbar a:visited{
    color:white;
} 
/* ############################################### HEADER CONTENT ######################################### */
 .header-content .content-heading{
    padding-top: 23rem;
    text-align: center;
}
.header-content .content-para{
    padding: 0.5rem
    text-transform: uppercase;
    text-align: center;
}
/* ************************************ SHOW Case SECTION *************************************** */
.showcase{
    background-color:#e6e2e2;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.row{
    height:36rem;
   
    background-color: white;
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem #aaa;
}
.row1{
    margin-bottom:10rem;
  
}
.row1 .img-box{
    float:left;

    width: 50%;
    height:100%;
}
.row .text-box .para{
    /* border:0.1rem solid black; */
    text-align:center;
    padding:0.1rem;
}
 .row .row1 .text-box{ 
    float:right;
    width:50%;
    padding:3rem;
  
}
.row2 .img-box{
    float:right;

    width: 50%;
    height:35rem;
}
.row .row2 .text-box{
    float:left;
    width:50%;
    padding:3rem;
}
.img-box img{
    width:100%;
    height:100%;
    display:inline-block;
}
.heading{
    padding-top: 0.1rem;
    padding-bottom:0.2rem;
    text-align: center;
    /* border-bottom: 0.1rem solid black; */
}
.show-btn{
    /* border:0.1rem solid black; */
    text-align: center;
}
.more-btn{
    text-transform: uppercase;
    border: 0.2rem solid red;
    font-size:2rem ;
    font-weight: 500;
    border-radius: 10rem;
    padding:0.1rem;
    margin-top:10rem;
}
.para{
    margin-bottom: 0.2rem;
}
.more-btn:hover{
    background-color: #fcf3f2;
}
/* ********************************************* FEATURE SECTION ************************************ */
.feature{
    padding: 10rem 0;
}
.main-box{
    box-shadow: 0rem 0rem 1rem 0.1rem rgba(5, 5, 5, 0.637);
}
.box{
    height:100%;
    width: 33.3333%;
    float: left;
    padding: 2rem;
    text-align: center;
}
.box1 ,.box3{
    background-color: rgb(27, 17, 17);
    color: white;
    height:100%;
}
.box2{
    background-color: rgb(245, 86, 86);
    color: white;
}
.main-box::after{
    content: "";
    display: block;
    clear: both;
}
/* ****************************************************FooTer SecTion StyLing**************************** */
.footer{
    background-color: rgb(46, 43, 43);
    text-align: center;
    color: #f4f4f4;
    padding: 2rem;
}
.socialmedia i{
    margin: 2rem;
}

/* *******************************************ABout Page Styling ************************************** */
/* .bg-color{
background-color: #263238;
} */
.navbar-about-contact{
    border:2px solid black;
    background-color:#263238;
}
.navbar-about-contact h1{
    /* padding-right: 15rem; */
    color: white;
    float: left;
    padding-top: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
 .navbar-about-contact .list-items{
    float: right;
    /* padding-left: 10rem; */
    padding-top: 2rem;
}
.navbar-about-contact .list-items .list-item{
     padding-top: 1rem; 
    display: inline-block;
    padding:1rem;
    letter-spacing:0.2rem;
    color: white;
}

.list-item a:hover{
    border-bottom: 0.1rem solid gray; 
    padding-bottom: 0.3rem;
}
 .navbar-about-contact a:link,
.navbar-about-contact a:visited{
    color:white;
} 
.navbar-about-contact::after{
    content: "";
    display: block;
    clear: both;
}
.about-h2{
    padding-top: 5rem;
    border-bottom: 0.5rem solid red;
}
.about-p{
    padding-top: 2rem;
}
.list-box{
    /* border:0.2rem solid black; */
    margin-top: 1rem;
}
.about-1st-list{
    width:50%
    padding-top: 2rem;
    padding-left: 10rem;
    float:left;
}
.about-2nd-list{
    width:50%
    padding-top: 2rem;
    padding-right: 10rem;
    float:right;
}
.list-box li::before{
    content:'\2713';
    color:red;
}
.bullets{
    list-style-type: none;
}
.count{
    margin:10rem;
    /* border:0.2rem solid black; */

}
.count1{
    width:25%;
    float:left;
}
.count2{
    width:25%;
    float:left;
}
.count3{
    width:25%;
    float:left;
}
.count4{
    width:25%;
    float:left;
}
.about-last{
    border:0.2rem solid black;
    margin-top:18rem;
    padding-top: 2rem;
    /* padding-bottom:2rem; */
    background-color: #f23041;
}
 .last-p{
    /* border:0.1rem solid black; */
    float:left;
    width:60%;
     /* margin-top:0.5rem;  */
     /* margin-bottom:1rem;  */
}
.last-a{

    margin-right: 2rem;
   border:0.1rem solid white;
   float:right;
   width:30%;
   margin-bottom:0.5rem;
   padding-left:1rem;
   padding-right:1rem;
   text-align: center;
}
.about-last::after{
    content: "";
    display: block;
    clear: both;
}
.last-a a:hover{
    background-color:solid white;
}
/* *********************************************Contact form styling************************** */
.contact-main-div{
    /* border:0.2rem solid black; */
    height :75vh;
    margin-top:4rem;
    width:100%;
    background: #f7f7f7;
}
.contact-main-div .left-div{
    /* border:0.2rem dotted green; */
    background-color: #fff;
    width:49%;
    height:100%;
    float:left;
    display:inline-block;
    padding: 0.2rem;
}
.contact-main-div .left-div i{
    display: inline-block;
    margin: 0.5rem;
}
.contact-main-div .left-div h2{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
}

.contact-main-div::after{
    content: "";
    display: block;
    clear: both;
}
.contact-main-div .left-div .div{
    margin-bottom: 3rem;
}
.contact-main-div .left-div img{
    width: 99%;
    max-width: 99%;
    height:22.5rem;
    min-height: 5rem;
    object-fit: cover;
    object-position: right;
}

.form{
    /* border:0.1rem dotted red; */
    background-color: #fff;
    width:49%;
    height:100%;
    float:right;
    display:inline-block;
    padding-top:0.1rem;
    padding-left:0.5rem;
    font-size: 1.6rem;
}
 .contact-main-div .form .form-h1{
    border-bottom:0.3rem solid red ;
    margin-bottom:0.1rem;
}
.contact-main-div .form .form-label label{
    display: block;
}
.contact-main-div .form .form-label input{
    width:100%;
}
.contact-main-div .form .form-label textarea{
    width:100%;
    margin-bottom: 0.4rem;
}
.btn-form{

/* border: 0.1rem solid black; */
text-align: center;
margin-top:1rem;
font-size: 1.8rem;
padding-left:45%;
/* text-transform: uppercase; */

}
.contact-main-div .form .form-btn{
display: block;
/* border: 0.1rem solid black;  */
padding-left: 2rem;
padding-right:2rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
text-transform: uppercase; 
text-align: center;
background-color: #f23041;
cursor: pointer;


}


/* *************************************************Thanks page styling************************ */
/* .thanks{
    border:0.2rem solid black;
    width:100%;
    height:100vh; */

}
/* .thanks{
    height:100vh;
    background-image: url('thanks.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.thanks-box{
    margin-top:10rem;
    border:0.3rem solid black;
    height:100vh;
    width:100;
}
.thanks-box::after{
    content: "";
    display: block;
    clear: both;
}
/* ********************************media queries*************************** */
@media(max-width:720px){
    html{
        font-size: 50%;
    }
    .navbar h1,.navbar .list-items{
        float:none;
        display:block;
        text-align: center;
    }
}
@media(max-width:500px){
    html{
        font-size:50%;
    }

    .header-content .content-heading{
        display:none;
    }
    .header-content .content-para{
        text-align: center;
}
.primary-btn{
    padding:none;
    font-size: 1rem;
}
.row{
    height:auto;
    width:100%;
}
.row .img-box{
    float:none;
    text-align: center;
    height:auto;
    width:100%;
}
.row .text-box:{
    float:none;
    text-align: center;
    height:auto;
    width:100%;
}
.feature .box{
    float:none;
    height:auto;
    width:100%;
    text-align: center;
}
.socialmedia{
    width:100%;
    float:none;
    text-align: center;
    height:auto;
}
}
@media(max-width:1010px){

    html{
        font-size: 50%;
    }
    .feature .box{
        float:none;
        height:100;
        width:100%; 
        text-align: center;
        box-shadow: none;
    } 
    .feature .box1{
        box-shadow: 0rem 0rem 1rem 0.1rem rgba(5, 5, 5, 0.637);
}

.feature .box2{
    margin-top:7rem;
    box-shadow: 0rem 0rem 1rem 0.1rem rgba(5, 5, 5, 0.637);
}

.feature .box3{
    margin-top:7rem;
    box-shadow: 0rem 0rem 1rem 0.1rem rgba(5, 5, 5, 0.637);
}
.feature .main-box{
    box-shadow:none;
}
}
/* *******************************about page media queries************************ */
/* @media(max-width:730px){
html{
    font-size: 50%;
}
    .navbar-box{
        height:13rem;
        border:2px solid black;
        background-color:#263238;
        width:100%;
}
.navbar h1,.navbar .list-items{
    float:none;
    display:block;
    text-align: center;
}
}
@media(max-width:615px){
    html{
        font-size: 50%;
    }
    .navbar-box{
        height:15rem;
        border:2px solid black;
        background-color:#263238;
        width:100%;
    }
    
    .navbar h1,.navbar .list-items{
        float:none;
        display:block;
        text-align: center;
    }
} */
@media(max-width:550px){
    html{
        font-size: 50%;
    }
    .navbar-about-contact h1,.navbar-about-contact .list-items{
        float:none;
        text-align: center;
        display:block;
    }
.list-box{
        float:none;
        text-align: center;
        display:block;
        width:100%;
        height:100%;
}
.about-1st-list{
    float:none;
    text-align: center;
    display:block;
    width:100%;
    height:100%;
    padding-top:0;
    padding-left: 0;
    padding-bottom;1rem;
}
.about-2nd-list{
    float:none;
    text-align: center;
    /* display:block; */
    width:100%;
    height:100%;
    padding-top:0;
    padding-right:0;
    margin-top:1rem;
}


.count1{
    width:100%;
    float:none;
    text-align: center;

}
.count2{
    margin-top:0.1rem;
    width:100%;
    float:none;
    text-align: center;
}
.count3{
    margin-top:0.1rem;
    width:100%;
    float:none;
    text-align: center;
}
.count4{
    margin-top:0.1rem;
    width:100%;
    float:none;
    text-align: center;
}
    .last-p{text-align: center;
       
        float:none;
        width:100%;
    }
    .last-a{
        float:none;
        width:100%;
        text-align: center;
        margin-top:0.2rem;
    }
    .contact-main-div .left-div{
        /* border:0.2rem dotted green; */
        background-color: #fff;
        width:100%;
        height:100%;
        float:none;
        text-align:center;
        /* display:inline-block; */
        /* padding: 0.2rem; */
        margin-bottom:0rem;
    }
    .form{
        /* border:0.1rem dotted red; */
        background-color: #fff;
        width:100%;
        /* height:100%; */
        float:none;
        display:inline-block;
        padding-top:0rem;
        padding-left:0rem;
        font-size: 1.6rem;
        text-align:center;
    }
    .contact-main-div .form .form-label label{
        display: block;
        padding-top:0rem;
        float:left;
        margin-bottom: 0.2rem;

    }
    .contact-main-div .form .form-label input{
        width:100%;
        
    }
    .contact-main-div .form .form-label textarea{
        width:100%;
        margin-bottom: 0.5rem;
        margin-top:0.2rem;
    }
    
    .form::after{
        content:"";
        display: block;
        clear:both;
    }
    .btn-form{

        /* border: 0rem solid black; */
        text-align: center;
        margin-top:0rem;
        font-size: 1rem;
        padding-left:0%;
        text-transform: uppercase;
        /* width:100%; */
        float:center;
        
        }
        .contact-main-div .form .form-btn{
            font-size: 1rem;
        display: inline;
        /* width:100%; */
        float:center;
         /* border: 0rem solid black; */
        padding-left:0rem;
        padding-right:0rem; 
         padding-top: 0rem; 
         padding-bottom: 0rem; 
         text-transform: uppercase; 
        text-align: center;
        margin-left:0rem;
        background-color: #f23041;
        /* cursor: pointer; */
}
.contact-main-div .form .form-h1{
    margin-bottom:0.4rem;
    font-size: 2rem;
}
}
@media(orientation:landscape) and (max-height:550px){
    .header{
        height:90vmax;
    }
}
 